version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: 123
      DB_NAME: loginDB
    depends_on:
      - db
    command: >
      sh -c "
        wget -q https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh &&
        chmod +x wait-for-it.sh &&
        ./wait-for-it.sh db:3306 -- node server.js
      "

  db:
    image: mariadb:11.8.2
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: loginDB
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d   # initialization SQL
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p123"]
      interval: 5s
      retries: 10
      start_period: 5s

volumes:
  db_data:
